/*---------------------- global tags--------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {text-decoration: none;color: #555555;}

p {color: #555555;}

/*--------------------start of header--------------------*/

.header {background: radial-gradient(#fff, #ffd6d6);}

.header .row {margin-top: 20px;}

/* start nav-bar */
.container {
    max-width: 1300px;
    margin: auto;
    padding: 0 25px;
}

.navbar {
    display: flex;
    align-items: center;
    /*makes all items in the same line(vertically)*/
    padding: 20px;
}

.logo img {width: 160px;cursor: pointer;transition: transform 0.5s;}

.logo img:hover {transform: scale(1.04,1.04);}

nav {flex: 1;text-align: right;}

nav ul {
    display: inline-block;
    /*to add something after it without destroying the view*/
    list-style: none;
}

nav ul li {
    display: inline-block;
    /*to be after each other*/
    margin-left: 20px;
    /*to seperate them*/
}

nav ul li a {
    padding: 5px 12px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

nav ul li a:hover {background: #ff523b;color: #ffffff;}

.navbar .cart {
    margin: 0 0 0 20px;
    cursor: pointer;
    width:30px;
    height:30px;
    transition: transform .5s ease;
}

.navbar .cart:hover {transform: scale(1.05,1.05);}

/*--------------------end nav-bar----------------------------*/

/*---------------start the column section---------------------*/
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    /*sets the main size of flex item*/
    min-width: 300px;
}

.text{padding-left: 40px;}

.col-2 img {max-width: 90%;padding: 40px 0;}

.col-2 h1 {font-size: 45px;line-height: 50px;margin: 25px 0;}

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: all .5s ease;
}

.btn:hover {background: #563434;}

/* -----------------end the column section--------------------*/
/*---------------------end of header ------------------------*/

/*------------------start of categories-----------------------*/
.categories {margin: 70px 0;}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding: 0 25px;
}

.col-3-zoom {
    display: flex;
    height: 330px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

.col-3-zoom figure {height: 330px;overflow: hidden;}

.col-3-zoom img {
    height: 330px;
    transition: all .5s ease;
}

.col-3-zoom img:hover {transform: scale(1.05, 1.05);}

/*--------------------end of categories-------------------*/

/*--------------------start of products--------------------*/

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555555;
}

.title::after {
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.col-4 {
    flex-basis: 25%;
    /*to set 4 columns*/
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform .3s ease;
    cursor: pointer;
}

.col-4:hover {
    transform: translateY(-10px);
}

.col-4 img {width: 100%;}

.col-4 img:hover {
    zoom: 2;
}

.col-4 p {font-size: 14px;}

h4 {color: #555555;font-weight: normal;}

.rating {color: #ff523b;}

/*--------------------end of products-------------------- */

/*-------------------start of offer-----------------------*/
.offer {
    background: radial-gradient(#fff, #ffd6d6);
    margin-top: 20px;
    padding: 0px 0;
}

.col-2 .offer-img {padding: 50px;}

small {color: #555555;}
/*---------------------end of offer-----------------------*/

/*-------------------start of testimonials------------------*/
.testimonial {padding-top: 100px;}

.col-3 {
    flex-basis: 30%;
    /* to set 3 columns */
    min-width: 250px;
    margin-bottom: 30px;
    cursor: pointer;
}


.col-3 img {
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    transition: transform .3s ease;
}

.col-3 img:hover {transform: scale(1.05, 1.05);}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    transition: transform .3s ease;
    cursor: pointer;
}
.testimonial .col-3:hover {transform: translateY(-20px);}

.testimonial .col-3 img {
    width: 90px;
    margin-top: 20px;
    border-radius: 50%;
}

.fa.fa-quote-left {font-size: 34px;color: #ff523b;}

.col-3 p {font-size: 12px;margin: 12px 0;color: #777777;}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555555;
    font-size: 16px;
    margin-top: 20px;
}
/*------------------end of testimonials-------------------- */

/*--------------------start of brands----------------------*/
.brands {margin: 100px auto;}

.col-5 {width: 160px;}

.col-5 img {
    text-align: center;
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
    transition: filter .3s ease;
}

.col-5 img:hover {filter: grayscale(0%);}
/*--------------------end of brands------------------------ */

/*--------------------start he footer----------------------*/
.footer {
    background: #000000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {color: #8a8a8a;}

.footer h3 {color: #fff;margin-bottom: 20px;}

.footer-col-1, 
.footer-col-2,
.footer-col-3,
.footer-col-4 {min-width: 250px;margin-bottom: 20px;}

.footer-col-1 {flex-basis: 30%;}

.footer-col-2 {flex: 1;text-align: center;}

.footer-col-2 img {width: 180px;margin-bottom: 20px;}

.footer-col-3,
.footer-col-4 {flex-basis: 12%;text-align: center;}

ul {list-style: none;}

ul li {cursor: pointer; transition: color .3s ease;}

ul li:hover {color: #fff;}

.app-logo {margin-top: 20px;}

.app-logo img {width: 100px;cursor: pointer;}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
    cursor: pointer;
    transition: color .3s ease;}

.copyright:hover {color: #fff;}
/*--------------------End he Footer--------------------- */

/*---------------Start of All products page---------------*/
.row-2 {justify-content: space-between;margin: 70px auto 30px;}

select {border: 1px solid #ff523b;padding: 5px;}

select:focus {outline: none;}
/* to solve the proplem of color change when option change */

.page-btn {margin: 0 auto 80px;}

span {
    display: inline-block;
    border: 1px solid #ff523b;
    border-radius: 5px;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

span:hover {background: #ff523b;color: #fff;}

/*---------------end of All products page---------------*/

/*------------start of single product page---------------*/

.single-product {margin-top: 80px;}

.single-product .col-2 {padding: 20px;}

.single-product .col-2 img {padding: 0px;}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin: 20px 0 0 0;
    font-size: 15px;
    border-radius: 5px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
    border-radius: 5px;
}

input:focus {outline: none;}

.single-product .fa {color: #ff523b;margin-left: 10px;} 

.small-img-row {
    display: flex;
    justify-content: space-between;
}

.small-img-col {flex-basis: 24%;cursor: pointer;}
/*------------end of single product page---------------*/

/*--------------start of cart items page-------------------*/

.cart-page {margin: 80px auto;}

table{width: 100%;border-collapse: collapse;}

.cart-info {display: flex;flex-wrap: wrap;}

th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td{padding: 10px 5px;}

td input{width: 40px;height: 30px;padding: 5px;}

td a{
    padding: 3px 6px;
    background: #ff523b;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
}

td img {width: 120px;height: 120px;margin-right: 10px;}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 375px;
}

td:last-child{text-align: right;}

th:last-child{text-align: right;}
 
/*--------------end of cart items-------------------*/

/*-------------start of account page-----------------*/
.acc-page{background: radial-gradient(#fff, #ffd6d6);}

.account-page{
    padding: 50px 0;
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 83px;
    display: inline-block;
    border: none;
}

.form-container span:hover{background: none;}

.form-btn{display: inline-block;}

#indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform .7s ease-in-out;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform .7s ease-in-out;
}

form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{outline: none;}

#loginForm{left: -300px;}
#regForm{left: 0px;}

.remember-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reme {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form a{font-size: 12px;}/* forgot password*/

#chb {width: 14px;}
form label{font-size: 12px;}

/*-------------end of account page-----------------*/

/*---------------making the website responsive------------*/
.menu-nav {width: 28px;margin-left: 20px;display: none;}

/*--------------media query for menu------------------*/
@media only screen and (max-width: 800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: #333333;
        width: 100%;
        overflow: hidden;
        transition: max-height .5s ease-in-out;
    }

    nav ul li {display: block;margin: 10px 50px 10px 0;}

    nav ul li a {color: #ffffff;}

    .menu-nav {display: block;cursor: pointer;}

    .page-btn {margin-left: 35px;}

    span {width: 35px;height: 35px;line-height: 35px;}

    .single-product .col-2 {padding: 20px 0;}

    .single-product h1 {font-size: 26px;line-height: 32px;}

    .row-2 h1 {font-size: 22px;}

    .row-2 p {font-size: 14px;}
}

/*-----media query for less than 600 screen size ------*/
@media only screen and (max-width: 600px) {
    .row {text-align: center;}

    .col-2, .col-3, .col-4 {flex-basis: 100%;}

    .page-btn {margin-left: 10px;}

    span {width: 30px;height: 30px;line-height: 30px;}

    .single-product .col-2 {padding: 20px 0;}

    .single-product h1 {font-size: 26px;line-height: 32px;}
}

